In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
df = [4, 8, 15, 16, 23, 42]
df1 = pd.Series(df)
print(df1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
df = [1,2,3,4,5,6,7,8,9,10]
df1 = pd.Series(df)
print(df1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
# Q3. Create a Pandas DataFrame that contains the following data:

# Then, print the DataFrame.

# Name         
# Alice
# Bob
# Claire

# Age
# 25
# 30
# 27

# Gender
# Female
# Male
# Female
data={
    'Name':['Alice','Bob','Claire'],
    'age':[25,30,27],
    'Gender':['Female','Male','Female']
}

# df = pd.DataFrame(data)
# print(df)

In [10]:
df = pd.DataFrame(data)
print(df)

     Name  age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
A DataFrame is a two-dimensional data structure in pandas that can store multiple columns of different data types.
It is similar to a spreadsheet, with rows and columns. 
Each cell in a DataFrame can contain a different type of data, such as numbers, strings, dates, or booleans.

A Series is a one-dimensional data structure in pandas that can store only one column of data.
It is similar to a list, with an index and values. Each element in a Series can contain a different type of data.

In [ ]:
# What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
# you give an example of when you might use one of these functions?

Pandas provides a wide range of functions and methods to manipulate data within a DataFrame. 
Some common functions include:

head() and tail(): Used to view the first or last few rows of the DataFrame.

df.head()  # Returns the first 5 rows of the DataFrame
df.tail(3)  # Returns the last 3 rows of the DataFrame
info(): Provides a concise summary of the DataFrame, including column data types and missing values.


df.info()
describe(): Generates descriptive statistics (count, mean, std, min, max, etc.) for numeric columns.

    
df.describe()
loc[] and iloc[]: Used for selecting rows and columns by label 
(using index labels) or by position (using integer indexes),respectively.


df.loc[2]  # Selects row with label/index 2
df.iloc[:, 1:3]  # Selects all rows and columns from index 1 to 2 (exclusive)
drop(): Allows for dropping rows or columns from the DataFrame.

    
df.drop(columns=['Age'])  # Drops the 'Age' column
df.drop(index=[0, 2])  # Drops rows with index 0 and 2
fillna(): Used to fill missing (NaN) values with specified data.


df.fillna(0)  # Fills NaN values with 0
groupby(): Groups data based on specified columns for aggregation.


df.groupby('Gender').mean()  # Groups by 'Gender' and calculates the mean of other columns
merge() and concat(): Used for combining DataFrames either by merging on columns or concatenating along rows/columns.


merged_df = pd.merge(df1, df2, on='key_column')  # Merges two DataFrames based on 'key_column'
concatenated_df = pd.concat([df1, df2])  # Concatenates DataFrames alone

In [ ]:
#  Which of the following is mutable in nature Series, DataFrame, Panel
Among the three data structures provided by Pandas:

Series
DataFrame
Panel (Deprecated since Pandas version 0.25.0 and removed in later versions)
The mutability of these structures varies:

Series: A Series is mutable. You can modify the values within a Series after its creation.

DataFrame: A DataFrame is mutable. You can modify its values, add or remove columns, change the index, 
           and perform various other modifications to the DataFrame after it's created.

Panel (Deprecated): Similar to DataFrame, Panel was mutable. However, it has been deprecated and removed in later versions of 
                    Pandas in favor of MultiIndex DataFrames or Panel-like operations with reshaping.

In [14]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
data = {'a':[1,2,3,5],
        'b':[3,4,6,7],
        'c':['jony','toni','honu','ounu']}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   a  b     c
a  1  3  jony
b  2  4  toni
c  3  6  honu
d  5  7  ounu